<div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Stock Quantity</th>
            <th scope="col">Category</th>
            <th *ngIf="areActionsAvailable" scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
          @for (product of productsList; track $index) {
            <tr>
              <td>{{product.id}}</td>
              <td>{{product.name}}</td>
              <td>{{product.description}}</td>
              <td>{{product.price}}</td>
              <td>{{product.qtyInStock}}</td>
              <td>{{product.category?.name}}</td>
              <td *ngIf="areActionsAvailable">
                <button type="button" 
                (click)="showDetailModal(product, detailModal)"
                class="btn btn-secondary">
                    <i class = "fa-solid fa-eye white"
                    ></i>
                </button>
                <button 
                type="button"
                (click)="deleteProduct(product);" 
                class="btn btn-danger">
                <i class="fa-solid fa-trash white"
                ></i>
              </button>
              </td>
            </tr>
          } @empty {
            <tr>
              <td colspan="8" class="text-center">There are not items to show</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>

<app-modal #detailModal>
  <app-product-form
      [product]="selectedProduct"
      [categoryList]="categoryService.categories$()"
      [action]="'Update product'"
      (callParentEvent)="handleFormAction($event)"
    />
</app-modal>